/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-feb-2015, 12:07:38
    Author     : Iris
*/
html,body
{   height: 100%;
    margin: 0;
    background-color: #DDDDDD;
    z-index: -2;
}

#wrapper
{   min-height: 100%;
}

#header
{   font-family: Verdana;
    text-align: center;
    height: 150px;
    padding: 10px;
    background-image: url("Achtergrond.jpg");
    background-color: #000000;
}

#menu
{   text-align: right;
    width: 15%;
    position: fixed;
    height: 100%;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana;
}

#content
{   font-family: Verdana;
    overflow: auto;
    text-align: justify;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20px;
    background-color: #EEEEEE;
    left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
}

#footer
{   margin-top: -20px;
    width: 2000px;
    text-align: center;
    background-image: url("Achtergrond.jpg");
    background-color: #000000;
    clear: both;
}

h1
{   color: #BBCCEE;
    font-size: 40px;
    text-decoration: underline;
}

h2
{   color: #BBBBFF;
    font-size: 32px;
}

input.buttons
{   background-color: #0066CC;
    color: #BBCCEE;
    border-color: #000000;
    width: 80%;
    height: 35px;
    font-family: Verdana;
    padding: 10px;
    font-weight: bold;
}

input.buttons:hover{
    background-color: #BBCCEE;
    color: #0066CC;
}

input.buttons:active{
    border: #DDDDDD;
    background-color: #DDDDDD;
    font-weight: bolder;
    color: #0066CC;
}

input.button{
    background-color: #0066CC;
    color: #BBCCEE;
    border-color: #000000;
    font-family: Verdana;
    padding: 10px;
    font-weight: bold;
}

ul
{   list-style-type: none;
}

content.ul{
    list-style-type: square;
}

a{
    color: #777777;
    text-decoration-line: none;
}

a:hover{
    color: #0066CC;
    text-decoration-line: underline;
    text-decoration-line: overline;    
}

#code{
    font-family: Courier New;
    margin-left: 50px;
}