/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-feb-2015, 12:07:38
    Author     : Iris
*/
html,body
{   height: 100%;
    margin: 0;
    background-color: #DDDDDD;
    z-index: -2;
}

#wrapper
{   min-height: 100%;
}

#header
{   font-family: Verdana;
    text-align: center;
    height: 18%;
    padding: 10px;
    background-image: url("Achtergrond.jpg");
    background-color: #000000;
}

#menu
{   text-align: right;
    width: 15%;
    position: fixed;
    height: 100%;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
    font-family: Verdana;
}

#footer
{   text-align: left;
    width: 15%;
    position: fixed;
    height: 100%;
    padding-top: 10px;
    font-size: 10px;
    text-align: center;
    font-family: Verdana;
    top: 92%;
}

#content
{   font-family: Verdana;
    overflow: auto;
    text-align: justify;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 20px;
    background-color: #EEEEEE;
    left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 77%;
}

h1
{   color: #BBCCEE;
    font-size: 40px;
    text-decoration: underline;
}

h2
{   color: #BBCCEE;
    font-size: 32px;
}

input.buttons
{   background-color: #0066CC;
    color: #BBCCEE;
    border-color: #000000;
    width: 85%;
    height: 35px;
    font-family: Verdana;
    padding: 10px;
    font-weight: bold;
}

input.buttons:hover{
    background-color: #BBCCEE;
    color: #0066CC;
}

input.buttons:active{
    border: #DDDDDD;
    background-color: #DDDDDD;
    font-weight: bolder;
    color: #0066CC;
}

input.button{
    background-color: #0066CC;
    color: #BBCCEE;
    border-color: #000000;
    font-family: Verdana;
    padding: 10px;
    font-weight: bold;
    z-index: 0;
}
input.button:hover{
    background-color: #BBCCEE;
    color: #0066CC;
}

input.button:active{
    border: #DDDDDD;
    background-color: #DDDDDD;
    font-weight: bolder;
    color: #0066CC;
}

ul
{   list-style-type: none;
}

content.ul{
    list-style-type: square;
}

a{
    color: #222222;
}

a:hover{
    color: #0066CC;
}


a:visited{
    color: #777777;
}

a:visited:hover{
    color: #0066CC;
}

p.code{
    font-family: Courier New;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

a.bronnen{
    font-size: 10px;
    color: #333333;
    font-style: italic;
    vertical-align: super;
}

#ButtonBox{
    text-align: center;
    width: 100%;
}

#GraphText{
    text-align: justify;
    width: 100%;
}

#draggable{
    background-color: #BBCCEE;
    width: 35%;
}

#Graph2013
{
    z-index: 0;
}

#Graph2014
{
    z-index: 0;
}